= form_for @stugen do |f|
  - if @stugen.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stugen.errors.count, "error")} prohibited this stugen from being saved:"
      %ul
        - @stugen.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :label
    = f.text_field :label
  .field
    = f.label :abbreviation
    = f.text_field :abbreviation
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :faculty_id
    = f.text_field :faculty_id
  .field
    = f.label :picture
    = f.text_field :picture
  .field
    = f.label :website
    = f.text_field :website
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :telephone
    = f.text_field :telephone
  .field
    = f.label :building
    = f.text_field :building
  .field
    = f.label :room
    = f.text_field :room
  .actions
    = f.submit 'Save'
