%h2
  = t('view.overview.title')
  %a{:data => {:toggle => 'collapse', :target => ".stugen-container"}, :title => t('view.overview.expand_all')}
    %i.fa.fa-angle-double-down

.container
  :markdown
    #{t('opening')}

.overview
  - @stugen.each do |fb, stugen|
    .faculty{:class => "fb-#{fb}"}
      %h3{:data => {:toggle => 'collapse', :target => ".fb-#{fb} .stugen-container"}}
        %i.fa.fa-chevron-right
        = t('activerecord.models.faculty.one')
        = fb
        &ndash;
        = stugen.first[1]
      .container.stugen-container.collapse
        .stugen{:class => "stugen-#{stugen.count}"}
          - stugen.each do |stuga_entry|
            - stuga = stuga_entry.first
            .stuga
              .stuga-body
                %h4.stuga-title
                  = wbr_slash stuga.label
                - unless stuga.confirmed?
                  .stuga-text.stuga-not-confirmed.font-italic.alert.alert-danger
                    %i.fa.fa-exclamation-triangle
                      %span
                        = succeed ': ' do
                          = t('view.overview.information.title')
                    :markdown
                      #{t('view.overview.information.not_confirmed', stuga: stuga.label)}
                - else
                  - if stuga.updated_at < (Date.today - 2.years)
                    .stuga-text.stuga-not-confirmed.font-italic.alert.alert-danger
                      %i.fa.fa-exclamation-triangle
                        %span
                          = succeed ': ' do
                            = t('view.overview.information.title')
                      :markdown
                        #{t('view.overview.information.confirmed_old_2', stuga: stuga.label)}
                  - elsif stuga.updated_at < (Date.today - 12.months)
                    .stuga-text.stuga-not-confirmed.font-italic.alert.alert-warning
                      %i.fa.fa-exclamation-triangle
                        %span
                          = succeed ': ' do
                            = t('view.overview.information..title')
                      :markdown
                        #{t('view.overview.information.confirmed_old_1', stuga: stuga.label)}
                - unless stuga.information.blank?
                  .stuga-text.stuga-not-confirmed.font-italic.alert.alert-info
                    %i.fa.fa-info-circle
                      %span
                        = succeed ': ' do
                          = t('view.overview.information.title')
                    = Kramdown::Document.new(stuga.information).to_html.html_safe
                .stuga-text
                  - unless (stuga.building.blank? and stuga.room.blank?)
                    %a{:target => '_blank', :href => "http://oracle-web.zfn.uni-bremen.de/lageplan/lageplan?haus=#{stuga.building}&raum=#{stuga.room}&pi_anz=0"}
                      %i.fa.fa-home
                        %span
                          = succeed ': ' do
                            = t('activerecord.attributes.stuga.room')
                      %span
                        - unless stuga.room.blank?
                          = succeed ', Raum ' do
                            = stuga.display_name(:building)
                          = stuga.room
                        - else
                          = stuga.display_name(:building)
                  - unless stuga.telephone.blank?
                    %a{:href => "tel:0049#{stuga.telephone.length < 6 ? "421218#{stuga.telephone}" : stuga.telephone}"}
                      %i.fa.fa-phone
                        %span
                          = succeed ': ' do
                            = t('activerecord.attributes.stuga.telephone')
                      %span
                        - if stuga.telephone.length < 6
                          = "218 - #{stuga.telephone}"
                        - else
                          = stuga.telephone
                  - unless stuga.website.blank?
                    %a{:href => stuga.website}
                      %i.fa.fa-globe
                        %span
                          = succeed ': ' do
                            = t('activerecord.attributes.stuga.website')
                      %span
                        = wbr_slash stuga.website.gsub /http[s]?:\/\/(.*?)[\/]?$/, '\1'
                  - unless stuga.email.blank?
                    %a{:href => "mailto:#{stuga.email}"}
                      %i.fa.fa-envelope
                        %span
                          = succeed ': ' do
                            = t('activerecord.attributes.stuga.email')
                      %span
                        = stuga.email
                  - %w(facebook twitter youtube instagram pinterest snapchat tumblr).each do |sm|
                    = sm_entry stuga, sm.to_s

.container
  :markdown
    #{t('closing')}
