%p#notice= notice

%p
  %b Label:
  = @stugen.label
%p
  %b Abbreviation:
  = @stugen.abbreviation
%p
  %b Description:
  = @stugen.description
%p
  %b Faculty:
  = @stugen.faculty.inspect
%p
  %b Picture:
  = @stugen.picture
%p
  %b Website:
  = @stugen.website
%p
  %b Email:
  = @stugen.email
%p
  %b Telephone:
  = @stugen.telephone
%p
  %b Building:
  = @stugen.building
%p
  %b Room:
  = @stugen.room
%p
  %b Facebook:
  = @stugen.facebook
%p
  %b Twitter:
  = @stugen.twitter
%p
  %b YouTube:
  = @stugen.youtube
%p
  %b Instagram:
  = @stugen.instagram
%p
  %b Pinterest:
  = @stugen.pinterest
%p
  %b Snapchat:
  = @stugen.snapchat
%p
  %b Tumblr:
  = @stugen.tumblr
%p
  %b confirmed:
  = @stugen.confirmed

= link_to 'Edit', edit_stuga_path(@stugen)
\|
= link_to 'Back', stugen_path
