%header.header
  .container
    %button.navbar-toggle.collapsed{:type => "button", :data => {:toggle => "collapse", :target => "#navigation"}, :aria => {:expanded => "false"}}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .navbar-brand.navbar-title
      = t('title')
    #navigation.collapse
      %a{:href => "#"}
        = t('view.header.stugen')
      %a{:href => "https://stuko.stugen.de/", :title => t('view.header.stuko.long')}
        = t('view.header.stuko.short')
      %a{:href => "https://sr.uni-bremen.de/", :title => t('view.header.sr.long')}
        /%img{:src => 'https://sr.uni-bremen.de/w/images/2/25/Studierendenratlogo.png', :title => t('view.header.sr')}
        = t('view.header.sr.short')
      %a{:href => "https://asta.uni-bremen.de/", :title => t('view.header.asta.long')}
        /%img{:src => 'http://www.informatik.uni-bremen.de/~deschuer/AStA-Logo-transparent.png', :title => t('view.header.asta')}
        = t('view.header.asta.short')
      %a{:href => "https://uni-bremen.de/"}
        /%img{:src => 'http://www.informatik.uni-bremen.de/~deschuer/UniLogoBig2.png', :title => t('view.header.unibremen')}
        = t('view.header.unibremen')
      %form#search.form-inline.float-right
        %input.form-control{"aria-label" => t('view.header.search.label'), :placeholder => t('view.header.search.placeholder'), :type => "text"}/
        %button.btn.btn-link{:type => "submit"}
          %i.fa.fa-search
      %a.btn.btn-link.pseudo-search{:href => '#search' }
        %i.fa.fa-search
